VITE_BASE_URL=https://api.example.com
VITE_ALARM_HUB=https://api.example.com/AlarmHub
VITE_WELCOME_MESSAGE=Willkommen im\nSmart Health Care
VITE_CLINIC_NAME=Die Gesundheitsplattform
VITE_CLINIC_ADDRESS=Curata GmbH\nHaus am Rosengarten\nFrankfurt
VITE_ASSESSMENT_CLINIC_NAME=Bonn
VITE_SENSOR_TYPE=radar
VITE_ALARM_API_TYPE=none
VITE_WITH_AMS_IOT=0